.articles {
  position: relative;
  max-width: 1440px;
  overflow: hidden;

  &__title {
    padding-right: 200px;
    min-height: 32px;

    background-color: #DEF9EC;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    text-align: center;
    line-height: 140px;
    color: #253D4E;
  }

  &__article {
    display: flex;

    max-width: 1050px;
    margin: 40px auto 200px;
    border-radius: 4px;

    background-color: white;
    box-shadow: 2px 2px 8px rgba(121, 153, 115, 0.5);

    &--potatoes {
      flex-direction: row-reverse;
    }

    & .article {
      &__img {
        max-width: 100%;
      }

      &__description {
        display: flex;
        flex-direction: column;
      }


      &__title {
        margin: 50px 0 0 16px;
        height: 28px;


        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;

        color: #253D4E;
        line-height: 28px;
        letter-spacing: 0.01em;
      }

      &__text {
        max-width: 466px;
        margin: 25px 16px;


        font-family: 'Poppins';
        font-size: 16px;

        color: #6C757D;
        text-align: left;
        line-height: 150%;
        letter-spacing: 0.01em;

        &--potatoes {
          margin-right: 31px;
          text-align: right;
        }

        &:last-of-type {
          display: none;
        }
      }

      &__btn {
        display: block;

        width: 146px;
        height: 38px;
        margin-left: 10px;
        box-shadow: 2px 2px 8px rgba(121, 153, 115, 0.5);
        border-radius: 4px;

        background: #3BB77E;

        color: #FFFFFF;
        font-family: 'Poppins';
        font-size: 16px;
        text-align: center;
        line-height: 150%;
        letter-spacing: 0.01em;

        &--potatoes {
          align-self: flex-end;
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;

      width: 916px;
      height: 916px;
      left: -399px;
      top: 534px;
      border: 3px solid #3BB77E;
      border-radius: 50%;

      background-color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;

      width: 268px;
      height: 268px;
      left: 1306px;
      top: 179px;
      border-radius: 50%;
      border: 3px solid #3BB77E;

      background-color: transparent;
    }
  }
}